body, h1,h2,h3,p,h3, div, header, nav, ul, li,.titulo, footer, h4, main{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img , a, span {
  display: inline-block;
}
body{
  font-family: 'Roboto', sans-serif;
}
